body{

    background-color: rgb(255, 255, 255);
    margin: 0;
    height: 100%;
}

.list {

    color: darkred;
    font-size: 2vw;
}

.greeny {
    color: green;
}

.favourite{

    color: #808080;

}

.cool {
    color: blue;
}